version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: rails_ddd_demo_development
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    container_name: rails
    command: bin/rails server -b 0.0.0.0
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      RAILS_ENV: production
      SECRET_KEY_BASE: "dummy_secret_key_base_for_demo_only"
      DATABASE_HOST: db
      DATABASE_USERNAME: root
      DATABASE_PASSWORD: root

volumes:
  mysql_data:
